body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
 
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --suble-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/*!----------------------index----------------------*/
/**-------------HEADER-----------*/

.header {
}

.header-container {
  display: flex;
    align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.logo-web {
  color: var(--dark);
}

.header-menu {
  display: flex;
  padding: 24px 0;
  gap: 40px;
  margin-left: 76px;
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

.address {
  font-style: normal;
}
.address-menu {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.address-menu-item {
}
.address-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.address-menu-link:hover,
.address-menu-link:focus {
  color: var(--pressed-state);
}

/**------------SOL--------------*/

.sol {
  background: var(--dark);
}

.sol-container {
  padding: 188px 292px;
}

.title-sol {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.sol-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
width: 169px;
height: 56px;
  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sol-btn:hover,
.sol-btn:focus {
  background: var(--pressed-state);
}

/**---------------GOALS---------------*/

.goals-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.goals {
}
.goals-menu {
  display: flex;
  gap: 24px;
}
.goals-menu-item {
  width: calc((100%-72px)/4);
}
.goals-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.goals-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/**-----------------WHAT?-------------*/

.what-container{
  padding: 0 156px 120px;
}

.what {
}
.what-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.what-menu {
  display: flex;
  justify-content: center;
  gap: 24px
}
.what-menu-item {
  width: calc((100%-480/3));
}


/**----------TEAM------------*/

.team-container {
  padding: auto;
}

.team {
  background: var(--light);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-menu {
  background-color: var(--light);
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}

.team-menu-item {
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 32px 65px 64px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
  padding: 8px 68px 32px;
}

/**--------------FOOTER-------------*/

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 100px 1020px 100px 0;
  gap: 16px;
}

.footer {
  background: var(--dark);
 
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.foot {
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  width: 264px;
}

/*!-----------PORTFOLIO-------------*/

/**-----FILTERS-------*/

.filter-menu {
}
.filter-item {
}
.button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--light);
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

/**--------IMAGES-----------*/

.portfolio-menu {
}
.portfolio-item {
}
.potfolio-link {
  border-color: var(--accent);
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
